<%inherit file="navbar.tmpl"/>
<%block name="core">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form method='POST' action='/add_record/' role="form" class="form-inline">
                <input type="hidden" name="zone" value="${current_zone}" />
                <div class="form-group">
                     <label for="key">Record key</label><input type="text" class="form-control" name="key">
                </div>
                <div class="form-group">
                     <label for="TTL">TTL</label><input type="text" class="form-control" name="ttl" value="${default_ttl}">
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" name="type">
                          %for type in type_written:
                          <option>${type}</option>
                          %endfor
                    </select>
                </div>
                <div class="form-group">
                     <label for="type">Content</label>
                     <input type="text" class="form-control" name="content">
                </div>
                <div class="form-group">
                    <label for="submit">Submit</label>
                    <button type="submit" class="form-control btn btn-default green"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                </div>
            </form>
        </div>
    </div>
	<div class="row clearfix top-buffer bottom-buffer">
		<div class="col-md-12 column">
            <div class="well well-sm">
				<form method='POST' action='/del_record/' role="form" class="form-inline">
                    <input type="hidden" name="zone" value="${current_zone}" />
					<table id="RecordTable" class="table table-hover table-condensed tablesorter">
						<thead>
							<tr>
								<th>
									Record Key
								</th>
								<th>
									TTL
								</th>
								<th>
									Class
								</th>
								<th>
									Type
								</th>
								<th>
									Content
								</th>
								<th class="sorter-false">
					                <button type="submit" class="btn btn-default red"><span class="glyphicon glyphicon-remove-sign"></span> Delete</button>
								</th>
							</tr>
						</thead>
						<tbody>
                            %for record in records:
							<tr>
								<td>
									${record['key']}
								</td>
								<td>
									${record['ttl']}
								</td>
								<td>
									${record['class']}
								</td>
								<td>
									${record['type']}
								</td>
								<td>
									${record['content']}
								</td>
								<td>
									<input type="checkbox" name="record" value="${record['key']};${record['type']};${record['content']};${record['class']};${record['ttl']}">
								</td>
							</tr>
                            % endfor
						</tbody>
							<tr>
								<th>
									Record Key
								</th>
								<th>
									TTL
								</th>
								<th>
									Class
								</th>
								<th>
									Type
								</th>
								<th>
									Content
								</th>
								<th>
					                <button type="submit" class="btn btn-default red"><span class="glyphicon glyphicon-remove-sign"></span> Delete</button>
								</th>
							</tr>
					</table>
				</form>
		    </div>
		</div>
	</div>
</%block>
